<!DOCTYPE html>
<html>

<head>
    <title>Razas de Universo Balistic</title>
</head>

<body>
    <h1>Ingrese los datos de una raza</h1>
    <form action="/" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>
        <label for="tipo">Tipo:</label>
        <input type="text" name="tipo" required><br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" required></textarea><br>
        <button type="submit" >Guardar</button>
    </form>

    <li>Al ingresarlas por favor ir aqui <a href="http://localhost:3000/razas">http://localhost:3000/razas</a> </li>

</body>

</html>